@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(1deg, #272727, #0f0f0f);
    --foreground: #ededed;
--svg-cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23FF21B0' stroke='%23FF22AA' stroke-width='2' stroke-linejoin='round' d='M12 8S9.75 5 7 5a4.5 4.5 0 0 0-4.5 4.5C2.5 14.5 12 20 12 20s9.5-5.5 9.5-10.5A4.5 4.5 0 0 0 17 5c-2.75 0-5 3-5 3Z'/%3E%3C/svg%3E") 12 12, auto;
  }
}

body {
  min-height: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: var(--svg-cursor);

}
html {
  scroll-behavior: smooth;
  
}


