@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(1deg, #272727, #0f0f0f);
    --foreground: #ededed;
    --svg-cursor: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='36'%20height='48'%20viewBox='0%200%2024%2024'%3E%3Cpath%20fill='%23FF64E2'%20d='M22%2011c-4.96%200-9-4.04-9-9%200-1.32-2-1.32-2%200%200%204.96-4.04%209-9%209-1.32%200-1.32%202%200%202%204.96%200%209%204.04%209%209%200%201.32%202%201.32%202%200%200-4.96%204.04-9%209-9%201.32%200%201.32-2%200-2Z'%3E%3C/path%3E%3C/svg%3E") 12 12, auto;

  }
}

body {
  min-height: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: var(--svg-cursor);

}
html {
  scroll-behavior: smooth;
  
}
